<h1 align = "center" > Showing selected article</h1>

<p align = "center">
    Title: <%= @article.title %>

</p>
<p align = "center">
    Description: <%= @article.description %>

</p>

<p align = "center">
    Created At: <%= @article.created_at %>

</p>

<p align = "center">
    Updated At: <%= @article.updated_at %>

</p>

<div align = "center">
    <%= link_to "Back to articles", articles_path %>
</div>