

<h2 align = "center"> Welcome to <%= @user.username %></h2> <br />

<div class = "row">
    <div class ="well col-sm-8">
        <div class = "col-md-4 center">
            <%= gravatar_for(@user) %>
            <h4 align="center"><%= @user.username %> </h4>
        </div>       
        <hr>
            <div class = "article-actions">
            Created At: <%= @user.created_at %> <br>

            Updated At: <%= @user.updated_at %>
            </div> 

        
        <div class = "article-actions">
            <%= link_to "Edit User", edit_user_path(@user), class: "btn btn-xs btn-primary"  %>
            <%= link_to 'Delete this user', user_path(@user), method: :delete, data: {confirm: "Are you sure?"},  class: "btn btn-xs btn-danger" %>
            <%= link_to "View all users", users_path, class: "btn btn-xs btn-success"  %>

        </div>    
        
    </div>
</div>